CoF-Zones-Page.json
[
  {"id":"4b9fb132.1c759","type":"ui_text","z":"43f8f35e.ca8ddc","group":"af09e0f2.60ac8","order":1,"width":0,"height":0,"name":"Seville Park","label":"","format":"<font size=16 color='green'>Seville Park</font>","layout":"col-center","x":314,"y":43,"wires":[]},
  {"id":"ea02715a.c8f8a","type":"ui_gauge","z":"43f8f35e.ca8ddc","name":"Flow Rate (gpm)","group":"fbd09a27.6c9608","order":1,"width":"0","height":"0","gtype":"gage","title":"Flow Rate","label":"gpm","format":"{{msg.payload.d.flowrate}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":620,"wires":[]},
  {"id":"cc479e81.03c91","type":"ui_chart","z":"43f8f35e.ca8ddc","name":"Flow Rate","group":"fbd09a27.6c9608","order":2,"width":0,"height":0,"label":"Flow Rate (gpm)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"500","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":580,"y":660,"wires":[[],[]]},
  {"id":"3fee9dbf.de1732","type":"ui_gauge","z":"43f8f35e.ca8ddc","name":"Humidity","group":"2570e0a4.f8711","order":3,"width":0,"height":0,"gtype":"gage","title":"Soil Mosture Content %","label":"%H","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":780,"wires":[]},
  {"id":"6fb60009.e8708","type":"ui_chart","z":"43f8f35e.ca8ddc","name":"Humidity","group":"2570e0a4.f8711","order":0,"width":0,"height":0,"label":"Soil Moisture Content %","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":540,"y":820,"wires":[[],[]]},
  {"id":"5f881458.bbdc2c","type":"ui_text","z":"43f8f35e.ca8ddc","group":"155b6718.0919f9","order":1,"width":"4","height":"3","name":"","label":"Valve 1","format":"<font size=10 color=lime>ON</font>","layout":"col-center","x":600,"y":280,"wires":[]},
  {"id":"48377253.ba7dcc","type":"ui_text","z":"43f8f35e.ca8ddc","group":"155b6718.0919f9","order":3,"width":"4","height":"3","name":"","label":"Valve 3","format":"<font size=10 color=red>OFF</font>","layout":"col-center","x":600,"y":360,"wires":[]},
  {"id":"857946b7.5356a8","type":"ui_text","z":"43f8f35e.ca8ddc","group":"155b6718.0919f9","order":2,"width":"4","height":"3","name":"","label":"Valve 2","format":"<font size=10 color=lime>ON</font>","layout":"col-center","x":600,"y":320,"wires":[]},
  {"id":"6b243d9c.b909e4","type":"ui_text","z":"43f8f35e.ca8ddc","group":"155b6718.0919f9","order":4,"width":"4","height":"3","name":"","label":"Valve 4","format":"<font size=10 color='{{msg.color}}'>{{msg.payload}}</font>","layout":"col-center","x":600,"y":400,"wires":[]},
  {"id":"f161700e.b3cb2","type":"ui_text","z":"43f8f35e.ca8ddc","group":"155b6718.0919f9","order":5,"width":"4","height":"3","name":"","label":"Valve 5","format":"<font size=10 color='{{msg.color}}'>{{msg.payload}}</font>","layout":"col-center","x":600,"y":440,"wires":[]},
  {"id":"a719d9be.ea3f08","type":"ui_text","z":"43f8f35e.ca8ddc","group":"155b6718.0919f9","order":7,"width":"4","height":"3","name":"","label":"Valve 7","format":"<font size=10 color=lime>ON</font>","layout":"col-center","x":788,"y":319,"wires":[]},
  {"id":"1c060c6.84547f4","type":"ui_text","z":"43f8f35e.ca8ddc","group":"155b6718.0919f9","order":6,"width":"4","height":"3","name":"","label":"Valve 6","format":"<font size=10 color=yellow>UNKN</font>","layout":"col-center","x":788,"y":279,"wires":[]},
  {"id":"fc359eba.ba6b1","type":"ui_switch","z":"43f8f35e.ca8ddc","name":"Valve 4 setting","label":"V4 switch","group":"ffecb760.f959b8","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"valve4","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":132,"y":294,"wires":[["56f895e8.c4e87c"]]},
  {"id":"56f895e8.c4e87c","type":"function","z":"43f8f35e.ca8ddc","name":"Check valve setting","func":"if (msg.payload === true)\n{\n    msg.payload = 'ON';\n    msg.color = 'lime';\n    \n} else {\n    msg.payload = 'OFF'\n    msg.color = 'red';\n    \n}\nif (msg.topic === 'valve4') {\n return [msg, null, null];   \n} else if (msg.topic === 'valve5') {\n  return [null, msg, null];    \n} else { // Valve 8\n  return [null, null, msg];     \n}","outputs":3,"noerr":0,"x":350,"y":320,"wires":[["6b243d9c.b909e4"],["f161700e.b3cb2"],["5f3b935a.1e0f3c"]]},
  {"id":"f3339d34.6a777","type":"ui_switch","z":"43f8f35e.ca8ddc","name":"Valve 5 setting","label":"V5 switch","group":"ffecb760.f959b8","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"valve5","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":132,"y":354,"wires":[["56f895e8.c4e87c"]]},
  {"id":"81ef4c2.2f861b","type":"ui_slider","z":"43f8f35e.ca8ddc","name":"Zone Health Score","label":"Zone Hlth Score","group":"ffecb760.f959b8","order":3,"width":0,"height":0,"passthru":true,"topic":"healthscore","min":0,"max":"100","step":"2","x":130,"y":180,"wires":[["722e304c.c549","5ee30c50.d49664"]]},
  {"id":"722e304c.c549","type":"ui_gauge","z":"43f8f35e.ca8ddc","name":"Zone Hlth Score","group":"aa128abd.b4b6b8","order":3,"width":0,"height":0,"gtype":"gage","title":"Zone Health Score","label":"","format":"{{value}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":380,"y":180,"wires":[]},
  {"id":"5ee30c50.d49664","type":"ui_chart","z":"43f8f35e.ca8ddc","name":"Zone Hlth Score","group":"aa128abd.b4b6b8","order":0,"width":0,"height":0,"label":"Zone Health Score","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":380,"y":220,"wires":[[],[]]},
  {"id":"c3cab86.8d39a48","type":"ui_gauge","z":"43f8f35e.ca8ddc","name":"Main Flow Rate (gpm)","group":"ed7a018f.b1134","order":4,"width":"8","height":"8","gtype":"gage","title":"Flow Rate","label":"gpm","format":"{{msg.payload.d.flowrate}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":700,"wires":[]},
  {"id":"75e21796.6968d8","type":"ui_chart","z":"43f8f35e.ca8ddc","name":"Main Flow Rate","group":"ed7a018f.b1134","order":5,"width":"10","height":"8","label":"Flow Rate (gpm)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":597,"y":735,"wires":[[],[]]},
  {"id":"47cc68d8.1bad38","type":"comment","z":"43f8f35e.ca8ddc","name":"C-o-F Zones Screen","info":"","x":110,"y":40,"wires":[]},
  {"id":"813f9787.134638","type":"ui_switch","z":"43f8f35e.ca8ddc","name":"Valve 8 setting","label":"V8 switch","group":"ffecb760.f959b8","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"valve8","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":400,"wires":[["56f895e8.c4e87c"]]},
  {"id":"5f3b935a.1e0f3c","type":"ui_text","z":"43f8f35e.ca8ddc","group":"155b6718.0919f9","order":5,"width":"4","height":"3","name":"Valve 8","label":"Valve 8","format":"<font size=10 color='{{msg.color}}'>{{msg.payload}}</font>","layout":"col-center","x":599,"y":483,"wires":[]},
  {"id":"2c467916.5272c6","type":"function","z":"43f8f35e.ca8ddc","name":"Go to Main Screen","func":"\nmsg.payload = {tab:\"Main Screen\"}; \nreturn msg;","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["84b83514.689e08"]]},
  {"id":"84b83514.689e08","type":"ui_ui_control","z":"43f8f35e.ca8ddc","name":"{{msg.payload}}","x":540,"y":100,"wires":[[]]},
  {"id":"9d13e08d.cac61","type":"ui_button","z":"43f8f35e.ca8ddc","name":"Return to Main","group":"af09e0f2.60ac8","order":3,"width":"6","height":"1","passthru":false,"label":"Go to Main Screen","color":"black","bgcolor":"aquamarine","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":100,"wires":[["2c467916.5272c6"]]},
  {"id":"1b63f174.df8e7f","type":"ibmiot in","z":"43f8f35e.ca8ddc","authentication":"boundService","apiKey":"79a5d918.e87548","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT Events In","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":120,"y":580,"wires":[["f021568.c41b6a8"]]},
  {"id":"901e9c08.b46ee","type":"debug","z":"43f8f35e.ca8ddc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":450,"y":560,"wires":[]},
  {"id":"f021568.c41b6a8","type":"switch","z":"43f8f35e.ca8ddc","name":"Check Event Type","property":"eventType","propertyType":"msg","rules":[{"t":"eq","v":"flow","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":660,"wires":[["ea02715a.c8f8a","c3cab86.8d39a48","6605c96f.920db8","901e9c08.b46ee"],["901e9c08.b46ee","fa94a197.4d417"]]},
  {"id":"6605c96f.920db8","type":"change","z":"43f8f35e.ca8ddc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.flowrate","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":740,"wires":[["cc479e81.03c91","75e21796.6968d8"]]},
  {"id":"697931a3.129f6","type":"ui_gauge","z":"43f8f35e.ca8ddc","name":"Z1-SM-Gauge","group":"f9cc9925.7c1778","order":3,"width":0,"height":0,"gtype":"gage","title":"Zone 01","label":"%H","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":860,"wires":[]},
  {"id":"8f4330aa.aa8a5","type":"ui_chart","z":"43f8f35e.ca8ddc","name":"Z1-SM-Chart","group":"f9cc9925.7c1778","order":0,"width":0,"height":0,"label":"Zone 01 SM","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":570,"y":900,"wires":[[],[]]},
  {"id":"fa94a197.4d417","type":"switch","z":"43f8f35e.ca8ddc","name":"Check Zone #","property":"payload.d.zone","propertyType":"msg","rules":[{"t":"eq","v":"zone1","vt":"str"},{"t":"eq","v":"zone2","vt":"str"},{"t":"eq","v":"zone3","vt":"str"},{"t":"eq","v":"zone4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":100,"y":920,"wires":[["25849cae.5ac454"],["e84b653b.ec9638"],["5e878dfb.58d784"],["3e0691c4.9c9d3e"]]},
  {"id":"25849cae.5ac454","type":"change","z":"43f8f35e.ca8ddc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":880,"wires":[["697931a3.129f6","8f4330aa.aa8a5","3fee9dbf.de1732","6fb60009.e8708"]]},
  {"id":"e84b653b.ec9638","type":"change","z":"43f8f35e.ca8ddc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":920,"wires":[["b9530490.966998","6ce7045e.5eff2c"]]},
  {"id":"b9530490.966998","type":"ui_gauge","z":"43f8f35e.ca8ddc","name":"Z2-SM-Gauge","group":"aab3299a.4f6498","order":3,"width":0,"height":0,"gtype":"gage","title":"Zone 02","label":"%H","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":940,"wires":[]},
  {"id":"6ce7045e.5eff2c","type":"ui_chart","z":"43f8f35e.ca8ddc","name":"Z2-SM-Chart","group":"aab3299a.4f6498","order":0,"width":0,"height":0,"label":"Zone 02 SM","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":570,"y":980,"wires":[[],[]]},
  {"id":"d572f0b9.82d19","type":"ui_gauge","z":"43f8f35e.ca8ddc","name":"Z3-SM-Gauge","group":"ad24d13f.6ecc8","order":3,"width":0,"height":0,"gtype":"gage","title":"Zone 03","label":"%H","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":1020,"wires":[]},
  {"id":"348a5f3c.aa04c","type":"ui_chart","z":"43f8f35e.ca8ddc","name":"Z3-SM-Chart","group":"ad24d13f.6ecc8","order":0,"width":0,"height":0,"label":"Zone 03 SM%","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":570,"y":1060,"wires":[[],[]]},
  {"id":"5e878dfb.58d784","type":"change","z":"43f8f35e.ca8ddc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":960,"wires":[["d572f0b9.82d19","348a5f3c.aa04c"]]},
  {"id":"3e0691c4.9c9d3e","type":"change","z":"43f8f35e.ca8ddc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1000,"wires":[["c049f70f.4ccf38","537f8555.c38a7c"]]},
  {"id":"c049f70f.4ccf38","type":"ui_gauge","z":"43f8f35e.ca8ddc","name":"Z4-SM-Gauge","group":"cb46ca99.437a08","order":3,"width":0,"height":0,"gtype":"gage","title":"Zone 04","label":"%H","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":1100,"wires":[]},
  {"id":"537f8555.c38a7c","type":"ui_chart","z":"43f8f35e.ca8ddc","name":"Z4-SM-Chart","group":"cb46ca99.437a08","order":0,"width":0,"height":0,"label":"Zone 04 SM%","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":570,"y":1140,"wires":[[],[]]},
  {"id":"af09e0f2.60ac8","type":"ui_group","z":"","name":"Zone-Page-Hdr","tab":"43623ced.4c4fd4","order":1,"disp":false,"width":"22","collapse":false},
  {"id":"fbd09a27.6c9608","type":"ui_group","z":"","name":"Flow rate","tab":"43623ced.4c4fd4","order":2,"disp":false,"width":"8","collapse":false},
  {"id":"2570e0a4.f8711","type":"ui_group","z":"","name":"Soil Moisture Content","tab":"43623ced.4c4fd4","order":3,"disp":false,"width":"8","collapse":false},
  {"id":"155b6718.0919f9","type":"ui_group","z":"","name":"Valve Settings","tab":"43623ced.4c4fd4","order":5,"disp":true,"width":"6","collapse":false},
  {"id":"ffecb760.f959b8","type":"ui_group","z":"","name":"Emulation Ctrls","tab":"43623ced.4c4fd4","order":4,"disp":true,"width":"6","collapse":false},
  {"id":"aa128abd.b4b6b8","type":"ui_group","z":"","name":"Zone Health Score","tab":"43623ced.4c4fd4","order":6,"disp":false,"width":"8","collapse":false},
  {"id":"ed7a018f.b1134","type":"ui_group","z":"","name":"Overall Health","tab":"fa9e425.15caec","order":6,"disp":true,"width":"20","collapse":false},
  {"id":"79a5d918.e87548","type":"ibmiot","z":"","name":"CityOfFontana","keepalive":"60","serverName":"4il9s6.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},
  {"id":"f9cc9925.7c1778","type":"ui_group","z":"","name":"Zone 01","tab":"571fc5d1.e171ac","order":2,"disp":false,"width":"7","collapse":false},
  {"id":"aab3299a.4f6498","type":"ui_group","z":"","name":"Zone 02","tab":"571fc5d1.e171ac","order":3,"disp":false,"width":"7","collapse":false},
  {"id":"ad24d13f.6ecc8","type":"ui_group","z":"","name":"Zone 03","tab":"571fc5d1.e171ac","order":5,"disp":false,"width":"7","collapse":false},
  {"id":"cb46ca99.437a08","type":"ui_group","z":"","name":"Zone 04","tab":"571fc5d1.e171ac","order":7,"disp":false,"width":"7","collapse":false},
  {"id":"43623ced.4c4fd4","type":"ui_tab","z":"","name":"CoF-Zones","icon":"dashboard","order":2},
  {"id":"fa9e425.15caec","type":"ui_tab","z":"","name":"Main Screen","icon":"dashboard","order":1},
  {"id":"571fc5d1.e171ac","type":"ui_tab","z":"","name":"Soil Moisture State","icon":"dashboard","order":3}]
