CoF-Soil-Moisture-State.json
[
  {"id":"ef7b6049.c9c13","type":"comment","z":"45ca3c8.2af2fc4","name":"Overall Soil Moisture State tab","info":"","x":160,"y":40,"wires":[]},
  {"id":"e33e7848.496058","type":"ui_text","z":"45ca3c8.2af2fc4","group":"6298c61c.768728","order":1,"width":0,"height":0,"name":"Seville Park","label":"","format":"<font size=16 color='green'>Seville Park</font>","layout":"col-center","x":290,"y":80,"wires":[]},
  {"id":"d883957f.2b99b8","type":"ui_text","z":"45ca3c8.2af2fc4","group":"6298c61c.768728","order":2,"width":0,"height":0,"name":"Park SM State","label":"","format":"<font size=6 color='white'>Park Soil Moisture Status</font>","layout":"col-center","x":460,"y":80,"wires":[]},
  {"id":"86f3e18d.12c02","type":"ui_slider","z":"45ca3c8.2af2fc4","name":"Z5 SM","label":"Zone 05 SM","group":"b94224ba.518418","order":2,"width":0,"height":0,"passthru":true,"topic":"z5sm","min":0,"max":"100","step":"2","x":90,"y":200,"wires":[["85c2872d.06a5a8","72285d39.0d3934"]]},
  {"id":"8b0e7d93.f008f","type":"ui_slider","z":"45ca3c8.2af2fc4","name":"Z6 SM","label":"Zone 06 SM","group":"b94224ba.518418","order":2,"width":0,"height":0,"passthru":true,"topic":"z6sm","min":0,"max":"100","step":"2","x":90,"y":240,"wires":[["9caa4a80.129fe8","e4555ed5.8c35b"]]},
  {"id":"9e5f813b.79865","type":"ui_text","z":"45ca3c8.2af2fc4","group":"b94224ba.518418","order":0,"width":0,"height":0,"name":"Padding","label":"","format":"{{msg.payload}}","layout":"col-center","x":100,"y":300,"wires":[]},
  {"id":"85c2872d.06a5a8","type":"ui_gauge","z":"45ca3c8.2af2fc4","name":"Z5-SM-Gauge","group":"58884e9c.a0a92","order":3,"width":0,"height":0,"gtype":"gage","title":"Zone 05","label":"%H","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":335,"y":204,"wires":[]},
  {"id":"72285d39.0d3934","type":"ui_chart","z":"45ca3c8.2af2fc4","name":"Z5-SM-Chart","group":"58884e9c.a0a92","order":0,"width":0,"height":0,"label":"Zone 05 SM%","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":330,"y":240,"wires":[[],[]]},
  {"id":"b59bca9e.64d4e8","type":"function","z":"45ca3c8.2af2fc4","name":"Go to Main Screen","func":"\nmsg.payload = {tab:\"Main Screen\"}; \nreturn msg;","outputs":1,"noerr":0,"x":330,"y":140,"wires":[["42053217.19d9bc"]]},
  {"id":"42053217.19d9bc","type":"ui_ui_control","z":"45ca3c8.2af2fc4","name":"{{msg.payload}}","x":540,"y":140,"wires":[[]]},{"id":"e5b31051.7aac7","type":"ui_button","z":"45ca3c8.2af2fc4","name":"Return to Main","group":"6298c61c.768728","order":3,"width":"6","height":"1","passthru":false,"label":"Go to Main Screen","color":"black","bgcolor":"aquamarine","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":140,"wires":[["b59bca9e.64d4e8"]]},
  {"id":"9caa4a80.129fe8","type":"ui_gauge","z":"45ca3c8.2af2fc4","name":"Z6-SM-Gauge","group":"ba7c527d.823f7","order":3,"width":0,"height":0,"gtype":"gage","title":"Zone 06","label":"%H","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":340,"y":280,"wires":[]},
  {"id":"e4555ed5.8c35b","type":"ui_chart","z":"45ca3c8.2af2fc4","name":"Z6-SM-Chart","group":"ba7c527d.823f7","order":0,"width":0,"height":0,"label":"Zone 06 SM%","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":335,"y":316,"wires":[[],[]]},
  {"id":"6298c61c.768728","type":"ui_group","z":"","name":"SM State Hdr","tab":"571fc5d1.e171ac","order":1,"disp":false,"width":"22","collapse":false},
  {"id":"b94224ba.518418","type":"ui_group","z":"","name":"Emulation Ctrls","tab":"571fc5d1.e171ac","order":4,"disp":true,"width":"8","collapse":false},{"id":"58884e9c.a0a92","type":"ui_group","z":"","name":"Zone 05","tab":"571fc5d1.e171ac","order":6,"disp":false,"width":"7","collapse":false},{"id":"ba7c527d.823f7","type":"ui_group","z":"","name":"Zone 06","tab":"571fc5d1.e171ac","order":8,"disp":false,"width":"7","collapse":false},
  {"id":"571fc5d1.e171ac","type":"ui_tab","z":"","name":"Soil Moisture State","icon":"dashboard","order":3}]
