CoF-Park-Health-State.json
[
  {"id":"336882fc.cd6a9e","type":"comment","z":"568ca7.6632b358","name":"Overall Park Health State","info":"","x":150,"y":40,"wires":[]},
  {"id":"3366daa.036b526","type":"ui_text","z":"568ca7.6632b358","group":"38b861e8.bed36e","order":1,"width":0,"height":0,"name":"Seville Park","label":"","format":"<font size=16 color='green'>Seville Park</font>","layout":"col-center","x":190,"y":80,"wires":[]},
  {"id":"4c1dbd0c.305064","type":"ui_text","z":"568ca7.6632b358","group":"38b861e8.bed36e","order":2,"width":0,"height":0,"name":"Park HS State","label":"","format":"<font size=6.5 color='white'>Park Health State</font>","layout":"col-center","x":360,"y":80,"wires":[]},
  {"id":"d09bc058.ebf82","type":"ui_slider","z":"568ca7.6632b358","name":"Z1 HS","label":"Zone 01 HS","group":"7a9f61fd.4849a","order":2,"width":0,"height":0,"passthru":true,"topic":"z1hs","min":0,"max":"100","step":"2","x":70,"y":220,"wires":[["98964731.dc82e8","84e1f536.17f408"]]},
  {"id":"edba67b3.163208","type":"ui_slider","z":"568ca7.6632b358","name":"Z2 HS","label":"Zone 02 HS","group":"7a9f61fd.4849a","order":2,"width":0,"height":0,"passthru":true,"topic":"z2hs","min":0,"max":"100","step":"2","x":70,"y":300,"wires":[["d6a8881f.8379a8","5b44d9f7.ea8dc8"]]},
  {"id":"bc6207f.536a2f8","type":"ui_slider","z":"568ca7.6632b358","name":"Z3 HS","label":"Zone 03 HS","group":"7a9f61fd.4849a","order":2,"width":0,"height":0,"passthru":true,"topic":"z3hs","min":0,"max":"100","step":"2","x":70,"y":400,"wires":[["a0629803.3a8e48","e9e434c5.9c66e8"]]},
  {"id":"8bc9b439.27d828","type":"ui_slider","z":"568ca7.6632b358","name":"Z4 HS","label":"Zone 04 HS","group":"7a9f61fd.4849a","order":2,"width":0,"height":0,"passthru":true,"topic":"z4hs","min":0,"max":"100","step":"2","x":70,"y":480,"wires":[["2cf23dc0.513992","275223d1.64255c"]]},
  {"id":"7ae3c405.bfe68c","type":"ui_slider","z":"568ca7.6632b358","name":"Z5 HS","label":"Zone 05 HS","group":"7a9f61fd.4849a","order":2,"width":0,"height":0,"passthru":true,"topic":"z5hs","min":0,"max":"100","step":"2","x":70,"y":540,"wires":[["b3de9d96.749bb","f383af97.eb6a1"]]},
  {"id":"a7c71cb.e5a5be","type":"ui_slider","z":"568ca7.6632b358","name":"Z6 HS","label":"Zone 06 HS","group":"7a9f61fd.4849a","order":2,"width":0,"height":0,"passthru":true,"topic":"z6hs","min":0,"max":"100","step":"2","x":70,"y":580,"wires":[[]]},{"id":"98964731.dc82e8","type":"ui_gauge","z":"568ca7.6632b358","name":"Z1-HS-Gauge","group":"489a1c0.2b776e4","order":3,"width":0,"height":0,"gtype":"gage","title":"Zone 01","label":"%H","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":300,"y":200,"wires":[]},{"id":"84e1f536.17f408","type":"ui_chart","z":"568ca7.6632b358","name":"Z1-HS-Chart","group":"489a1c0.2b776e4","order":0,"width":0,"height":0,"label":"Zone 01 HS","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":290,"y":240,"wires":[[],[]]},{"id":"d6a8881f.8379a8","type":"ui_gauge","z":"568ca7.6632b358","name":"Z2-HS-Gauge","group":"49137b26.2b86d4","order":3,"width":0,"height":0,"gtype":"gage","title":"Zone 02","label":"%H","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":300,"y":300,"wires":[]},{"id":"5b44d9f7.ea8dc8","type":"ui_chart","z":"568ca7.6632b358","name":"Z2-HS-Chart","group":"49137b26.2b86d4","order":0,"width":0,"height":0,"label":"Zone 02 HS","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":290,"y":340,"wires":[[],[]]},{"id":"a0629803.3a8e48","type":"ui_gauge","z":"568ca7.6632b358","name":"Z3-HS-Gauge","group":"aff498c8.e1d6d8","order":3,"width":0,"height":0,"gtype":"gage","title":"Zone 03","label":"%H","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":300,"y":380,"wires":[]},{"id":"e9e434c5.9c66e8","type":"ui_chart","z":"568ca7.6632b358","name":"Z3-HS-Chart","group":"aff498c8.e1d6d8","order":0,"width":0,"height":0,"label":"Zone 03 HS","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":290,"y":420,"wires":[[],[]]},{"id":"2cf23dc0.513992","type":"ui_gauge","z":"568ca7.6632b358","name":"Z4-HS-Gauge","group":"f536d234.bbb6f","order":3,"width":0,"height":0,"gtype":"gage","title":"Zone 04","label":"%H","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":301,"y":458,"wires":[]},{"id":"275223d1.64255c","type":"ui_chart","z":"568ca7.6632b358","name":"Z4-HS-Chart","group":"f536d234.bbb6f","order":0,"width":0,"height":0,"label":"Zone 04 HS","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":291,"y":498,"wires":[[],[]]},{"id":"4f3d3288.97870c","type":"ui_text","z":"568ca7.6632b358","group":"7a9f61fd.4849a","order":0,"width":0,"height":0,"name":"Padding","label":"","format":"{{msg.payload}}","layout":"col-center","x":80,"y":640,"wires":[]},{"id":"b3de9d96.749bb","type":"ui_gauge","z":"568ca7.6632b358","name":"Z5-HS-Gauge","group":"6928e358.6a41bc","order":3,"width":0,"height":0,"gtype":"gage","title":"Zone 05","label":"%H","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":300,"y":540,"wires":[]},{"id":"f383af97.eb6a1","type":"ui_chart","z":"568ca7.6632b358","name":"Z5-HS-Chart","group":"6928e358.6a41bc","order":0,"width":0,"height":0,"label":"Zone 05 HS","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":290,"y":580,"wires":[[],[]]},{"id":"bed01194.1f86f","type":"function","z":"568ca7.6632b358","name":"Go to Main Screen","func":"\nmsg.payload = {tab:\"Main Screen\"}; \nreturn msg;","outputs":1,"noerr":0,"x":330,"y":140,"wires":[["17544f50.b41cb1"]]},{"id":"17544f50.b41cb1","type":"ui_ui_control","z":"568ca7.6632b358","name":"{{msg.payload}}","x":540,"y":140,"wires":[[]]},{"id":"e7bbbf25.58c0f","type":"ui_button","z":"568ca7.6632b358","name":"Return to Main","group":"38b861e8.bed36e","order":3,"width":"6","height":"1","passthru":false,"label":"Go to Main Screen","color":"black","bgcolor":"aquamarine","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":140,"wires":[["bed01194.1f86f"]]},{"id":"38b861e8.bed36e","type":"ui_group","z":"","name":"Park-HS-Hdr","tab":"340b9b20.e1f974","order":1,"disp":false,"width":"22","collapse":false},{"id":"7a9f61fd.4849a","type":"ui_group","z":"","name":"Emulation Ctrls","tab":"340b9b20.e1f974","order":4,"disp":true,"width":"6","collapse":false},{"id":"489a1c0.2b776e4","type":"ui_group","z":"","name":"Z1-HS","tab":"340b9b20.e1f974","order":2,"disp":false,"width":"6","collapse":false},{"id":"49137b26.2b86d4","type":"ui_group","z":"","name":"Z2-HS","tab":"340b9b20.e1f974","order":3,"disp":false,"width":"6","collapse":false},{"id":"aff498c8.e1d6d8","type":"ui_group","z":"","name":"Z3-HS","tab":"340b9b20.e1f974","order":6,"disp":false,"width":"6","collapse":false},{"id":"f536d234.bbb6f","type":"ui_group","z":"","name":"Z4-HS","tab":"340b9b20.e1f974","order":7,"disp":false,"width":"6","collapse":false},{"id":"6928e358.6a41bc","type":"ui_group","z":"","name":"Z5-HS","tab":"340b9b20.e1f974","order":5,"disp":false,"width":"6","collapse":false},
  {"id":"340b9b20.e1f974","type":"ui_tab","z":"","name":"Park Health State","icon":"dashboard","order":4}]
