CoF-Main-Screen.json
[
{"id":"3682dcb3.b39174","type":"ui_text","z":"955df74d.3ca838","group":"a79177ad.170a68","order":1,"width":0,"height":0,"name":"City of Fontana","label":"","format":"<font size=24 color='white'>City of Fontana, CA</font>","layout":"col-center","x":320,"y":60,"wires":[]},
{"id":"953cdce1.5952e","type":"ui_text","z":"955df74d.3ca838","group":"a79177ad.170a68","order":2,"width":0,"height":0,"name":"Seville Park","label":"","format":"<font size=16 color='green'>Seville Park</font>","layout":"col-center","x":330,"y":120,"wires":[]},
{"id":"7b589c0c.198d74","type":"inject","z":"955df74d.3ca838","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":180,"wires":[["e5c49ff8.71cec"]]},
{"id":"e5c49ff8.71cec","type":"function","z":"955df74d.3ca838","name":"Set the Date","func":"var options = { weekday: 'short', year: 'numeric', month: 'long', day: 'numeric' };\nvar now  = new Date();\nvar CAoffset = -8.0;\nutc = now.getTime() + (now.getTimezoneOffset() * 60000);\nnd = new Date(utc + (3600000*CAoffset));\n\nmsg.payload = nd.toLocaleDateString('en-US', options);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["79ffd3f0.bcab3c","7ee40c18.5d95d4","a9e113d7.7ec0e","4620bede.13f2e","ec456261.b2d97"]]},
{"id":"79ffd3f0.bcab3c","type":"ui_text","z":"955df74d.3ca838","group":"a79177ad.170a68","order":3,"width":0,"height":0,"name":"Formatted Date","label":"","format":"<font size=6 color='white'>{{msg.payload}}</font>","layout":"col-center","x":540,"y":140,"wires":[]},
{"id":"92b5ae67.8636","type":"ui_button","z":"955df74d.3ca838","name":"Zone 1","group":"9b550c99.29c64","order":0,"width":0,"height":0,"passthru":false,"label":"ZONE 01","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"01","x":80,"y":280,"wires":[["f4f0943b.e00198"]]},
{"id":"266c3372.22bc7c","type":"ui_button","z":"955df74d.3ca838","name":"Zone 2","group":"9b550c99.29c64","order":0,"width":0,"height":0,"passthru":false,"label":"ZONE 02","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"02","x":80,"y":320,"wires":[["f4f0943b.e00198"]]},
{"id":"3c944d26.03eb42","type":"ui_button","z":"955df74d.3ca838","name":"Zone 3","group":"9b550c99.29c64","order":0,"width":0,"height":0,"passthru":false,"label":"ZONE 03","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"03","x":80,"y":360,"wires":[["f4f0943b.e00198"]]},
{"id":"995f748c.4f3598","type":"ui_button","z":"955df74d.3ca838","name":"Zone 4","group":"9b550c99.29c64","order":0,"width":0,"height":0,"passthru":false,"label":"ZONE 04","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"04","x":80,"y":400,"wires":[["f4f0943b.e00198"]]},
{"id":"f4f0943b.e00198","type":"function","z":"955df74d.3ca838","name":"Go to Zones Tab","func":"\nmsg.payload = {tab:\"CoF-Zones\"}; \nglobal.set(\"currzone\", 'Zone '+msg.topic);\n\nreturn msg;","outputs":1,"noerr":0,"x":347.5,"y":354,"wires":[["9772c0be.9aa16"]]},
{"id":"9772c0be.9aa16","type":"ui_ui_control","z":"955df74d.3ca838","name":"{{msg.payload}}","x":560,"y":360,"wires":[["550319e4.164fe8"]]},
{"id":"550319e4.164fe8","type":"function","z":"955df74d.3ca838","name":"Set the Zone","func":"\nvar myzone = 'xxx';\nmsg.payload = global.get(\"currzone\");\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":440,"wires":[["e65c2ca1.b9272"]]},
{"id":"e65c2ca1.b9272","type":"ui_text","z":"955df74d.3ca838","group":"af09e0f2.60ac8","order":2,"width":0,"height":0,"name":"Current Zone","label":"","format":"<font size=6 color='white'>{{msg.payload}}</font>","layout":"col-center","x":550,"y":440,"wires":[]},
{"id":"7ee40c18.5d95d4","type":"ui_text","z":"955df74d.3ca838","group":"af09e0f2.60ac8","order":4,"width":"10","height":"1","name":"Zones Formatted Date","label":"","format":"<font size=6 color='white'>{{msg.payload}}</font>","layout":"col-center","x":560,"y":180,"wires":[]},
{"id":"76b98893.44c1f8","type":"comment","z":"955df74d.3ca838","name":"Main C-o-F Tab","info":"","x":100,"y":60,"wires":[]},
{"id":"a9e113d7.7ec0e","type":"ui_text","z":"955df74d.3ca838","group":"6298c61c.768728","order":4,"width":"10","height":"1","name":"SM Formatted Date","label":"","format":"<font size=6 color='white'>{{msg.payload}}</font>","layout":"col-center","x":550,"y":220,"wires":[]},
{"id":"4620bede.13f2e","type":"ui_text","z":"955df74d.3ca838","group":"38b861e8.bed36e","order":4,"width":"10","height":"1","name":"Park HS Formatted Date","label":"","format":"<font size=6 color='white'>{{msg.payload}}</font>","layout":"col-center","x":570,"y":260,"wires":[]},
{"id":"4f55d985.137748","type":"ui_button","z":"955df74d.3ca838","name":"Soil Moisture State","group":"f450d2df.29138","order":0,"width":0,"height":0,"passthru":false,"label":"Soil Moisture State","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"smstate","x":110,"y":540,"wires":[["a6879948.647848"]]},
{"id":"8e37a98.f0c1258","type":"ui_ui_control","z":"955df74d.3ca838","name":"{{msg.payload}}","x":580,"y":560,"wires":[[]]},
{"id":"a6879948.647848","type":"function","z":"955df74d.3ca838","name":"Go to SM-State Tab","func":"\nmsg.payload = {tab:\"Soil Moisture State\"}; \n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":540,"wires":[["8e37a98.f0c1258"]]},
{"id":"278116dc.3c331a","type":"ui_button","z":"955df74d.3ca838","name":"Park Health State","group":"f450d2df.29138","order":0,"width":0,"height":0,"passthru":false,"label":"Park Health State","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"hststate","x":110,"y":580,"wires":[["cd3324ba.360a88"]]},
{"id":"cd3324ba.360a88","type":"function","z":"955df74d.3ca838","name":"Go to Park-Hlth-State Tab","func":"\nmsg.payload = {tab:\"Park Health State\"}; \n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":580,"wires":[["8e37a98.f0c1258"]]},
{"id":"a1c73e1d.76cf4","type":"ui_button","z":"955df74d.3ca838","name":"Zone 5","group":"9b550c99.29c64","order":0,"width":0,"height":0,"passthru":false,"label":"ZONE 05","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"05","x":80,"y":440,"wires":[["f4f0943b.e00198"]]},
{"id":"7adee69e.1721d8","type":"ui_text","z":"955df74d.3ca838","group":"13acf1d.16f760e","order":1,"width":"8","height":"2","name":"Park Status","label":"","format":"{{msg.payload}}","layout":"col-center","x":590,"y":680,"wires":[]},
{"id":"a4a74a1e.75b0e8","type":"function","z":"955df74d.3ca838","name":"Set Text Content","func":"if (msg.payload === \"optimal\")\n{\n   msg.payload=\"<font size=8 color='lime'>Optimal</font>\";\n} else if (msg.payload === \"suboptimal\")\n{\n   msg.payload=\"<font size=8 color='yellow'>Sub-Optimal</font>\";    \n} else if (msg.payload === \"poor\")\n{\n   msg.payload=\"<font size=8 color='red'>Poor</font>\"; \n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":740,"wires":[["7adee69e.1721d8"]]},
{"id":"3e9560e0.7b4fc","type":"ui_toast","z":"955df74d.3ca838","position":"top right","displayTime":"8","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":533,"y":840,"wires":[]},
{"id":"cded3821.d0a628","type":"template","z":"955df74d.3ca838","name":"Alert Msg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : Park Status requires attention {{payload}}","output":"str","x":340,"y":840,"wires":[["3e9560e0.7b4fc"]]},
{"id":"e80ea3b2.9f962","type":"change","z":"955df74d.3ca838","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Park Status requires attention! It is in poor condition.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":147.5,"y":914,"wires":[["9f553a7a.b66be8"]]},
{"id":"ec456261.b2d97","type":"ui_text","z":"955df74d.3ca838","group":"d20396ec.7e75b8","order":4,"width":"10","height":"1","name":"Weather Formatted Date","label":"","format":"<font size=6 color='white'>{{msg.payload}}</font>","layout":"col-center","x":570,"y":300,"wires":[]},
{"id":"a844d5d3.a0ffb8","type":"ui_button","z":"955df74d.3ca838","name":"Weather Forecasts","group":"f450d2df.29138","order":0,"width":0,"height":0,"passthru":false,"label":"Weather Forecasts","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"weather","x":110,"y":620,"wires":[["32228b97.87f1b4"]]},
{"id":"32228b97.87f1b4","type":"function","z":"955df74d.3ca838","name":"Go to Weather Tab","func":"\nmsg.payload = {tab:\"Weather Forecasts\"}; \n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":620,"wires":[["8e37a98.f0c1258"]]},
{"id":"9f553a7a.b66be8","type":"ui_audio","z":"955df74d.3ca838","name":"","group":"13acf1d.16f760e","voice":"","always":"","x":360,"y":920,"wires":[]},
{"id":"6b0278ab.6a9c48","type":"ui_chart","z":"955df74d.3ca838","name":"","group":"ed7a018f.b1134","order":1,"width":"8","height":"8","label":"Latest Health Score","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":570,"y":1100,"wires":[[],[]]},
{"id":"87c16048.5f5ce","type":"inject","z":"955df74d.3ca838","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":90,"y":1100,"wires":[["f400ee75.880d4"]]},
{"id":"f400ee75.880d4","type":"function","z":"955df74d.3ca838","name":"Fill Bar Chart Array","func":"var bar={};\nbar.labels = [\"Zone 01\",\"Zone 02\",\"Zone 03\",\"Zone 04\",\"Zone 05\",\"Zone 06\"];\nbar.series = ['Health-Score'];\n// An array of 4 arrays of 6 elements\nbar.data = [\n    [58, 18, 40, 29, 15, 70]\n  ];\nreturn {payload:[bar]};","outputs":1,"noerr":0,"x":270,"y":1100,"wires":[["6b0278ab.6a9c48","a1b17891.3e36d8","ae5e180a.74d418"]]},
{"id":"a1b17891.3e36d8","type":"debug","z":"955df74d.3ca838","name":"","active":true,"console":"false","complete":"false","x":550,"y":1180,"wires":[]},
{"id":"ae5e180a.74d418","type":"ui_chart","z":"955df74d.3ca838","name":"","group":"ed7a018f.b1134","order":3,"width":"8","height":"8","label":"Last Soil Moisture Measurement","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":600,"y":1140,"wires":[[],[]]},
{"id":"699a115f.71473","type":"function","z":"955df74d.3ca838","name":"Fill Bar Chart Array","func":"var bar={};\nbar.labels = [\"Zone 01\",\"Zone 02\",\"Zone 03\",\"Zone 04\",\"Zone 05\",\"Zone 06\"];\nbar.series = ['Sales A', 'Sales B', 'Sales C', 'Sales D'];\n// An array of 4 arrays of 6 elements\nbar.data = [\n    [65, 59, 80, 81, 56, 55],\n    [28, 48, 40, 19, 86, 27],\n    [38, 28, 20, 49, 45, 60],\n    [58, 18, 40, 29, 15, 30]\n  ];\nreturn {payload:[bar]};","outputs":1,"noerr":0,"x":270,"y":1180,"wires":[[]]},
{"id":"95289d10.4082","type":"ui_button","z":"955df74d.3ca838","name":"Zone 6","group":"9b550c99.29c64","order":0,"width":0,"height":0,"passthru":false,"label":"ZONE 06","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"06","x":80,"y":480,"wires":[["f4f0943b.e00198"]]},
{"id":"4ba5c3e9.2e929c","type":"ui_text","z":"955df74d.3ca838","group":"ed7a018f.b1134","order":2,"width":"2","height":"3","name":"Padding","label":"","format":"{{msg.payload}}","layout":"row-center","x":190,"y":980,"wires":[]},
{"id":"7df8c1d8.f551c","type":"ui_button","z":"955df74d.3ca838","name":"Poor","group":"830d15b5.72eff8","order":3,"width":0,"height":0,"passthru":false,"label":"Poor","color":"","bgcolor":"","icon":"","payload":"poor","payloadType":"str","topic":"poor","x":90,"y":800,"wires":[["a4a74a1e.75b0e8","cded3821.d0a628","e80ea3b2.9f962"]]},
{"id":"8015619c.d9bb7","type":"ui_button","z":"955df74d.3ca838","name":"Sub-Optimal","group":"830d15b5.72eff8","order":2,"width":0,"height":0,"passthru":false,"label":"sub-optimal","color":"","bgcolor":"","icon":"","payload":"suboptimal","payloadType":"str","topic":"suboptimal","x":90,"y":760,"wires":[["a4a74a1e.75b0e8"]]},
{"id":"6f16ce61.c7297","type":"ui_button","z":"955df74d.3ca838","name":"Optimal","group":"830d15b5.72eff8","order":1,"width":0,"height":0,"passthru":false,"label":"Optimal","color":"","bgcolor":"","icon":"","payload":"optimal","payloadType":"str","topic":"optimal","x":80,"y":720,"wires":[["a4a74a1e.75b0e8"]]},
{"id":"a79177ad.170a68","type":"ui_group","z":"","name":"CoF-Main-Hdr","tab":"fa9e425.15caec","order":1,"disp":false,"width":"20","collapse":false},
{"id":"9b550c99.29c64","type":"ui_group","z":"","name":"Go-To-Zones","tab":"fa9e425.15caec","order":2,"disp":true,"width":"6","collapse":false},
{"id":"af09e0f2.60ac8","type":"ui_group","z":"","name":"Zone-Page-Hdr","tab":"43623ced.4c4fd4","order":1,"disp":false,"width":"22","collapse":false},
{"id":"6298c61c.768728","type":"ui_group","z":"","name":"SM State Hdr","tab":"571fc5d1.e171ac","order":1,"disp":false,"width":"22","collapse":false},
{"id":"38b861e8.bed36e","type":"ui_group","z":"","name":"Park-HS-Hdr","tab":"340b9b20.e1f974","order":1,"disp":false,"width":"22","collapse":false},
{"id":"f450d2df.29138","type":"ui_group","z":"","name":"Go-To-Tabs","tab":"fa9e425.15caec","order":3,"disp":true,"width":"6","collapse":false},
{"id":"13acf1d.16f760e","type":"ui_group","z":"","name":"Park Status","tab":"fa9e425.15caec","order":5,"disp":true,"width":"10","collapse":false},
{"id":"d20396ec.7e75b8","type":"ui_group","z":"","name":"Weather-Hdr","tab":"90f7cfa3.eb7c7","order":1,"disp":false,"width":"22","collapse":false},
{"id":"ed7a018f.b1134","type":"ui_group","z":"","name":"Overall Health","tab":"fa9e425.15caec","order":6,"disp":true,"width":"20","collapse":false},
{"id":"830d15b5.72eff8","type":"ui_group","z":"","name":"Emulation Ctrls","tab":"fa9e425.15caec","order":4,"disp":true,"width":"8","collapse":false},
{"id":"fa9e425.15caec","type":"ui_tab","z":"","name":"Main Screen","icon":"dashboard","order":1},
{"id":"43623ced.4c4fd4","type":"ui_tab","z":"","name":"CoF-Zones","icon":"dashboard","order":2},
{"id":"571fc5d1.e171ac","type":"ui_tab","z":"","name":"Soil Moisture State","icon":"dashboard","order":3},
{"id":"340b9b20.e1f974","type":"ui_tab","z":"","name":"Park Health State","icon":"dashboard","order":4},
{"id":"90f7cfa3.eb7c7","type":"ui_tab","z":"","name":"Weather Forecasts","icon":"dashboard","order":5}]
