CoF-Zones-Page-July-1.json
[{"id":"4b9fb132.1c759","type":"ui_text","z":"43f8f35e.ca8ddc","group":"af09e0f2.60ac8","order":1,"width":0,"height":0,"name":"Seville Park","label":"","format":"<font size=16 color='green'>Seville Park</font>","layout":"col-center","x":314,"y":43,"wires":[]},
  {"id":"ea02715a.c8f8a","type":"ui_gauge","z":"43f8f35e.ca8ddc","name":"Flow Rate (gpm)","group":"fbd09a27.6c9608","order":1,"width":"8","height":"8","gtype":"gage","title":"Flow Rate","label":"gpm","format":"{{msg.payload}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":586.9999847412109,"y":599.9999980926514,"wires":[]},
  {"id":"3fee9dbf.de1732","type":"ui_gauge","z":"43f8f35e.ca8ddc","name":"SM-Gauge","group":"2570e0a4.f8711","order":3,"width":0,"height":0,"gtype":"gage","title":"Soil Mosture Content %","label":"%H","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":566,"y":1252,"wires":[]},
  {"id":"5f881458.bbdc2c","type":"ui_text","z":"43f8f35e.ca8ddc","group":"155b6718.0919f9","order":1,"width":"4","height":"3","name":"","label":"Valve 1","format":"<font size=10 color=lime>ON</font>","layout":"col-center","x":600,"y":280,"wires":[]},
  {"id":"48377253.ba7dcc","type":"ui_text","z":"43f8f35e.ca8ddc","group":"155b6718.0919f9","order":3,"width":"4","height":"3","name":"","label":"Valve 3","format":"<font size=10 color=red>OFF</font>","layout":"col-center","x":600,"y":360,"wires":[]},
  {"id":"857946b7.5356a8","type":"ui_text","z":"43f8f35e.ca8ddc","group":"155b6718.0919f9","order":2,"width":"4","height":"3","name":"","label":"Valve 2","format":"<font size=10 color=lime>ON</font>","layout":"col-center","x":600,"y":320,"wires":[]},
  {"id":"6b243d9c.b909e4","type":"ui_text","z":"43f8f35e.ca8ddc","group":"155b6718.0919f9","order":4,"width":"4","height":"3","name":"","label":"Valve 4","format":"<font size=10 color='{{msg.color}}'>{{msg.payload}}</font>","layout":"col-center","x":600,"y":400,"wires":[]},
  {"id":"f161700e.b3cb2","type":"ui_text","z":"43f8f35e.ca8ddc","group":"155b6718.0919f9","order":5,"width":"4","height":"3","name":"","label":"Valve 5","format":"<font size=10 color='{{msg.color}}'>{{msg.payload}}</font>","layout":"col-center","x":600,"y":440,"wires":[]},
  {"id":"a719d9be.ea3f08","type":"ui_text","z":"43f8f35e.ca8ddc","group":"155b6718.0919f9","order":7,"width":"4","height":"3","name":"","label":"Valve 7","format":"<font size=10 color=lime>ON</font>","layout":"col-center","x":788,"y":319,"wires":[]},
  {"id":"1c060c6.84547f4","type":"ui_text","z":"43f8f35e.ca8ddc","group":"155b6718.0919f9","order":6,"width":"4","height":"3","name":"","label":"Valve 6","format":"<font size=10 color=yellow>UNKN</font>","layout":"col-center","x":788,"y":279,"wires":[]},
  {"id":"fc359eba.ba6b1","type":"ui_switch","z":"43f8f35e.ca8ddc","name":"Valve 4 setting","label":"V4 switch","group":"ffecb760.f959b8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"valve4","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":132,"y":294,"wires":[["56f895e8.c4e87c"]]},
  {"id":"56f895e8.c4e87c","type":"function","z":"43f8f35e.ca8ddc","name":"Check valve setting","func":"if (msg.payload === true)\n{\n    msg.payload = 'ON';\n    msg.color = 'lime';\n    \n} else {\n    msg.payload = 'OFF'\n    msg.color = 'red';\n    \n}\nif (msg.topic === 'valve4') {\n return [msg, null, null];   \n} else if (msg.topic === 'valve5') {\n  return [null, msg, null];    \n} else { // Valve 8\n  return [null, null, msg];     \n}","outputs":3,"noerr":0,"x":350,"y":320,"wires":[["6b243d9c.b909e4"],["f161700e.b3cb2"],["5f3b935a.1e0f3c"]]},
  {"id":"f3339d34.6a777","type":"ui_switch","z":"43f8f35e.ca8ddc","name":"Valve 5 setting","label":"V5 switch","group":"ffecb760.f959b8","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"valve5","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":132,"y":354,"wires":[["56f895e8.c4e87c"]]},
  {"id":"81ef4c2.2f861b","type":"ui_slider","z":"43f8f35e.ca8ddc","name":"Zone Health Score","label":"Zone Hlth Score","group":"ffecb760.f959b8","order":2,"width":0,"height":0,"passthru":true,"topic":"healthscore","min":0,"max":"100","step":"2","x":129.99999237060547,"y":223.00001335144043,"wires":[["722e304c.c549"]]},
  {"id":"722e304c.c549","type":"ui_gauge","z":"43f8f35e.ca8ddc","name":"Zone Hlth Score","group":"aa128abd.b4b6b8","order":3,"width":0,"height":0,"gtype":"gage","title":"Zone Health Score","label":"","format":"{{value}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":380,"y":220,"wires":[]},
  {"id":"c3cab86.8d39a48","type":"ui_gauge","z":"43f8f35e.ca8ddc","name":"Main Flow Rate (gpm)","group":"ed7a018f.b1134","order":3,"width":"8","height":"8","gtype":"gage","title":"Flow Rate","label":"gpm","format":"{{msg.payload}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":598.9999847412109,"y":678.9999885559082,"wires":[]},
  {"id":"75e21796.6968d8","type":"ui_chart","z":"43f8f35e.ca8ddc","name":"Main Flow Rate","group":"ed7a018f.b1134","order":4,"width":"10","height":"8","label":"Flow Rate (gpm)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"300","removeOlder":"3","removeOlderPoints":"65","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":581.9999847412109,"y":719.9999904632568,"wires":[[],[]]},
  {"id":"47cc68d8.1bad38","type":"comment","z":"43f8f35e.ca8ddc","name":"C-o-F Zones Screen","info":"","x":110,"y":40,"wires":[]},
  {"id":"813f9787.134638","type":"ui_switch","z":"43f8f35e.ca8ddc","name":"Valve 8 setting","label":"V8 switch","group":"ffecb760.f959b8","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"valve8","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":400,"wires":[["56f895e8.c4e87c"]]},
  {"id":"5f3b935a.1e0f3c","type":"ui_text","z":"43f8f35e.ca8ddc","group":"155b6718.0919f9","order":5,"width":"4","height":"3","name":"Valve 8","label":"Valve 8","format":"<font size=10 color='{{msg.color}}'>{{msg.payload}}</font>","layout":"col-center","x":599,"y":483,"wires":[]},
  {"id":"2c467916.5272c6","type":"function","z":"43f8f35e.ca8ddc","name":"Go to Main Screen","func":"\nmsg.payload = {tab:\"Main Screen\"}; \nreturn msg;","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["84b83514.689e08"]]},
  {"id":"84b83514.689e08","type":"ui_ui_control","z":"43f8f35e.ca8ddc","name":"{{msg.payload}}","x":540,"y":100,"wires":[[]]},
  {"id":"9d13e08d.cac61","type":"ui_button","z":"43f8f35e.ca8ddc","name":"Return to Main","group":"af09e0f2.60ac8","order":3,"width":"6","height":"1","passthru":false,"label":"Go to Main Screen","color":"black","bgcolor":"aquamarine","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":100,"wires":[["2c467916.5272c6"]]},
  {"id":"1b63f174.df8e7f","type":"ibmiot in","z":"43f8f35e.ca8ddc","authentication":"boundService","apiKey":"79a5d918.e87548","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"WAGO-PLC","eventType":"TagValues","commandType":"","format":"json","name":"WAGO-PLC Events","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":125.99998474121094,"y":661.0000419616699,"wires":[["6605c96f.920db8","901e9c08.b46ee","e167a470.026a58"]]},
  {"id":"901e9c08.b46ee","type":"debug","z":"43f8f35e.ca8ddc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":352.00004959106445,"y":760.0000610351562,"wires":[]},
  {"id":"6605c96f.920db8","type":"change","z":"43f8f35e.ca8ddc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.TagData[0].Values.Flow_Rate","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":352.00003814697266,"y":660.9999904632568,"wires":[["c3cab86.8d39a48","ea02715a.c8f8a","75e21796.6968d8"]]},
  {"id":"697931a3.129f6","type":"ui_gauge","z":"43f8f35e.ca8ddc","name":"Z1-SM-Gauge","group":"f9cc9925.7c1778","order":3,"width":0,"height":0,"gtype":"gage","title":"Zone 01","label":"%H","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":577,"y":837,"wires":[]},
  {"id":"8f4330aa.aa8a5","type":"ui_chart","z":"43f8f35e.ca8ddc","name":"Z1-SM-Chart","group":"f9cc9925.7c1778","order":0,"width":0,"height":0,"label":"Zone 01 SM","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":569,"y":874,"wires":[[],[]]},
  {"id":"fa94a197.4d417","type":"switch","z":"43f8f35e.ca8ddc","name":"Check Zone #","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"Zone01","vt":"str"},{"t":"eq","v":"Zone02","vt":"str"},{"t":"eq","v":"Zone03","vt":"str"},{"t":"eq","v":"Zone04","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":110,"y":960,"wires":[["25849cae.5ac454"],["e84b653b.ec9638"],["5e878dfb.58d784"],["3e0691c4.9c9d3e"],[]]},
  {"id":"25849cae.5ac454","type":"change","z":"43f8f35e.ca8ddc","name":"Set Zone1 Values","rules":[{"t":"set","p":"z1soil","pt":"global","to":"payload.soil_profile[0].soil_id","tot":"msg"},{"t":"set","p":"z1sm","pt":"global","to":"payload.status.last_reading","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.status.last_reading","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Z1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":327,"y":873,"wires":[["697931a3.129f6","8f4330aa.aa8a5","30b51b27.f9c214"]]},
  {"id":"e84b653b.ec9638","type":"change","z":"43f8f35e.ca8ddc","name":"Set Zone2 Values","rules":[{"t":"set","p":"z2sm","pt":"global","to":"payload.status.last_reading","tot":"msg"},{"t":"set","p":"z2soil","pt":"global","to":"payload.soil_profile[0].soil_id","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.status.last_reading","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Z2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":332,"y":933,"wires":[["b9530490.966998","6ce7045e.5eff2c","30b51b27.f9c214"]]},
  {"id":"b9530490.966998","type":"ui_gauge","z":"43f8f35e.ca8ddc","name":"Z2-SM-Gauge","group":"aab3299a.4f6498","order":3,"width":0,"height":0,"gtype":"gage","title":"Zone 02","label":"%H","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":581.9999885559082,"y":919.0000457763672,"wires":[]},
  {"id":"6ce7045e.5eff2c","type":"ui_chart","z":"43f8f35e.ca8ddc","name":"Z2-SM-Chart","group":"aab3299a.4f6498","order":0,"width":0,"height":0,"label":"Zone 02 SM","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":576.0000038146973,"y":961.0000476837158,"wires":[[],[]]},
  {"id":"d572f0b9.82d19","type":"ui_gauge","z":"43f8f35e.ca8ddc","name":"Z3-SM-Gauge","group":"ad24d13f.6ecc8","order":3,"width":0,"height":0,"gtype":"gage","title":"Zone 03","label":"%H","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":1004.0000629425049,"wires":[]},
  {"id":"348a5f3c.aa04c","type":"ui_chart","z":"43f8f35e.ca8ddc","name":"Z3-SM-Chart","group":"ad24d13f.6ecc8","order":0,"width":0,"height":0,"label":"Zone 03 SM%","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":567,"y":1045.0000038146973,"wires":[[],[]]},
  {"id":"5e878dfb.58d784","type":"change","z":"43f8f35e.ca8ddc","name":"Set Zone3 Values","rules":[{"t":"set","p":"z3sm","pt":"global","to":"payload.status.last_reading","tot":"msg"},{"t":"set","p":"z3soil","pt":"global","to":"payload.soil_profile[0].soil_id","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.status.last_reading","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Z3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":335,"y":998,"wires":[["d572f0b9.82d19","348a5f3c.aa04c","30b51b27.f9c214"]]},
  {"id":"3e0691c4.9c9d3e","type":"change","z":"43f8f35e.ca8ddc","name":"Set Zone4 Values","rules":[{"t":"set","p":"z4sm","pt":"global","to":"payload.status.last_reading","tot":"msg"},{"t":"set","p":"z4soil","pt":"global","to":"payload.soil_profile[0].soil_id","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.status.last_reading","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Z4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":303,"y":1050,"wires":[["c049f70f.4ccf38","537f8555.c38a7c","30b51b27.f9c214"]]},
  {"id":"c049f70f.4ccf38","type":"ui_gauge","z":"43f8f35e.ca8ddc","name":"Z4-SM-Gauge","group":"cb46ca99.437a08","order":3,"width":0,"height":0,"gtype":"gage","title":"Zone 04","label":"%H","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":578,"y":1087.000005722046,"wires":[]},
  {"id":"537f8555.c38a7c","type":"ui_chart","z":"43f8f35e.ca8ddc","name":"Z4-SM-Chart","group":"cb46ca99.437a08","order":0,"width":0,"height":0,"label":"Zone 04 SM%","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":576,"y":1129.0000076293945,"wires":[[],[]]},
  {"id":"6b494941.553b98","type":"comment","z":"43f8f35e.ca8ddc","name":"Set Soil Moisture values for Zones Screen","info":"//msg.payload=\"<font size=6 color='orange'>Clay</font>\";","x":560.5,"y":1199,"wires":[]},
  {"id":"d5d6cf3c.1bdb4","type":"ui_text","z":"43f8f35e.ca8ddc","group":"285f3c0c.6a79f4","order":0,"width":0,"height":0,"name":"","label":"Soil Type","format":"{{msg.payload}}","layout":"col-center","x":576.4999885559082,"y":1370.000015258789,"wires":[]},
  {"id":"dab41f68.1d13d","type":"change","z":"43f8f35e.ca8ddc","name":"Zone1 SM","rules":[{"t":"set","p":"payload","pt":"msg","to":"z1sm","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":184,"y":1111,"wires":[["3fee9dbf.de1732"]]},
  {"id":"be39b701.829998","type":"change","z":"43f8f35e.ca8ddc","name":"Zone2 SM","rules":[{"t":"set","p":"payload","pt":"msg","to":"z2sm","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":165,"y":1187,"wires":[["3fee9dbf.de1732"]]},
  {"id":"f6c39fd7.2e51f","type":"change","z":"43f8f35e.ca8ddc","name":"Zone3 SM","rules":[{"t":"set","p":"payload","pt":"msg","to":"z3sm","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":1260,"wires":[["3fee9dbf.de1732"]]},
  {"id":"7d0add80.8f1734","type":"change","z":"43f8f35e.ca8ddc","name":"Zone4 SM","rules":[{"t":"set","p":"payload","pt":"msg","to":"z4sm","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":133,"y":1335,"wires":[["3fee9dbf.de1732"]]},
  {"id":"5915f436.dd9acc","type":"change","z":"43f8f35e.ca8ddc","name":"Z1Soil","rules":[{"t":"set","p":"payload","pt":"msg","to":"z1soil","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":197,"y":1147,"wires":[["e58f911f.2836f"]]},
  {"id":"eb1d485e.3b21a8","type":"change","z":"43f8f35e.ca8ddc","name":"Z2Soil","rules":[{"t":"set","p":"payload","pt":"msg","to":"z2soil","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":142.5,"y":1223,"wires":[["e58f911f.2836f"]]},
  {"id":"1c1c1f2b.d4aa51","type":"change","z":"43f8f35e.ca8ddc","name":"Z3Soil","rules":[{"t":"set","p":"payload","pt":"msg","to":"z3soil","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":125.5,"y":1296,"wires":[["e58f911f.2836f"]]},
  {"id":"70b77d81.8ced04","type":"change","z":"43f8f35e.ca8ddc","name":"Z4Soil","rules":[{"t":"set","p":"payload","pt":"msg","to":"z4soil","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":115.5,"y":1378,"wires":[["e58f911f.2836f"]]},
  {"id":"e58f911f.2836f","type":"function","z":"43f8f35e.ca8ddc","name":"Set Soil Type","func":"// Set the Soil Type\nswitch (msg.payload)\n{\n    case 1:\n        msg.payload=\"<font size=6 color='orange'>Clay</font>\";\n        break;\n    case 2:\n        msg.payload=\"<font size=6 color='cyan'>Clay-Loam</font>\";\n        break;\n    case 3:\n        msg.payload=\"<font size=6 color='lime'>Peat</font>\";\n        break;\n    case 4:\n        msg.payload=\"<font size=6 color='crimson'>Sand</font>\";\n        break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":387.0000228881836,"y":1371.0000150203705,"wires":[["d5d6cf3c.1bdb4"]]},
  {"id":"8fb5aee0.d02ac","type":"link in","z":"43f8f35e.ca8ddc","name":"","links":["26c23241.2909ce"],"x":53.5,"y":1120,"wires":[["dab41f68.1d13d","5915f436.dd9acc"]]},
  {"id":"a21bb8f8.29c208","type":"link in","z":"43f8f35e.ca8ddc","name":"","links":["a19821de.cf767"],"x":40.5,"y":1187,"wires":[["be39b701.829998","eb1d485e.3b21a8"]]},
  {"id":"a1ec78b7.7fd088","type":"link in","z":"43f8f35e.ca8ddc","name":"","links":["e61811b2.a213d"],"x":30.5,"y":1277,"wires":[["f6c39fd7.2e51f","1c1c1f2b.d4aa51"]]},
  {"id":"198762c4.1a148d","type":"link in","z":"43f8f35e.ca8ddc","name":"","links":["6aeae472.ad6b5c"],"x":25.5,"y":1365,"wires":[["7d0add80.8f1734","70b77d81.8ced04"]]},
  {"id":"f8231559.88fd48","type":"comment","z":"43f8f35e.ca8ddc","name":"WAGO-PLC IoT events","info":"","x":132.5208282470703,"y":605.0971956253052,"wires":[]},
  {"id":"87ffdd90.dc321","type":"comment","z":"43f8f35e.ca8ddc","name":"Sensoterra IoT events","info":"","x":116.52777099609375,"y":790.6667585372925,"wires":[]},
  {"id":"94dd3b8f.ea8ea8","type":"ibmiot in","z":"43f8f35e.ca8ddc","authentication":"boundService","apiKey":"79a5d918.e87548","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"Sensoterra-SM","eventType":"soilmoist","commandType":"","format":"json","name":"Sensoterra Events","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":112.51736450195312,"y":839.1042628288269,"wires":[["901e9c08.b46ee","fa94a197.4d417"]]},{"id":"7cc861e0.01019","type":"comment","z":"43f8f35e.ca8ddc","name":"Soil Moisture Screen values","info":"","x":598.5139007568359,"y":791.5452690124512,"wires":[]},{"id":"cf7fd140.87bc1","type":"comment","z":"43f8f35e.ca8ddc","name":"Zones Screen","info":"","x":626.5139541625977,"y":561.4305143356323,"wires":[]},
  {"id":"632d4ea4.6ff6b","type":"comment","z":"43f8f35e.ca8ddc","name":"Main Screen","info":"","x":588.527774810791,"y":641.4306230545044,"wires":[]},
  {"id":"30b51b27.f9c214","type":"link out","z":"43f8f35e.ca8ddc","name":"SM-Time","links":["29dda407.4d1bcc"],"x":717.628490447998,"y":968.9827175140381,"wires":[]},
  {"id":"e167a470.026a58","type":"function","z":"43f8f35e.ca8ddc","name":"Checking Valve values","func":"valvesOn = 0;\nvalvesOff = 0;\n\nfunction js_traverse(obj) {\n    var type = typeof obj; \n    //node.warn(\"type: \"+type);\n    if (type == \"object\") {\n        for (var key in obj) {\n            //node.warn(\"key: \"+key)\n            if (key.startsWith(\"Valve_\")) {\n                var valveValue = obj[key];\n                //node.warn(\"val - \"+valveValue+\");\n                if (valveValue) {\n                    valvesOn++;\n                } else {\n                    valvesOff++;\n                } \n            }\n            js_traverse(obj[key])\n        }\n    } \n}\n\nmyObj = msg.payload;\njs_traverse(myObj.TagData[0].Values);\n//node.warn(\"ON: \"+valvesOn)\n//node.warn(\"OFF: \"+valvesOff)\nmsg.payload = {\"ON\": valvesOn, \"OFF\": valvesOff};\nreturn msg;","outputs":1,"noerr":0,"x":369.6319808959961,"y":589.4652652740479,"wires":[["34d310dd.1c6f9"]]},
  {"id":"34d310dd.1c6f9","type":"link out","z":"43f8f35e.ca8ddc","name":"ValveTotals","links":["a2ba4b2b.73a978"],"x":508.6354637145996,"y":547.4201583862305,"wires":[]},
  {"id":"af09e0f2.60ac8","type":"ui_group","z":"","name":"Zone-Page-Hdr","tab":"43623ced.4c4fd4","order":1,"disp":false,"width":"22","collapse":false},
  {"id":"fbd09a27.6c9608","type":"ui_group","z":"","name":"Flow rate","tab":"43623ced.4c4fd4","order":3,"disp":false,"width":"8","collapse":false},
  {"id":"2570e0a4.f8711","type":"ui_group","z":"","name":"Soil Moisture Content","tab":"43623ced.4c4fd4","order":4,"disp":false,"width":"8","collapse":false},
  {"id":"155b6718.0919f9","type":"ui_group","z":"","name":"Valve Settings","tab":"43623ced.4c4fd4","order":6,"disp":true,"width":"6","collapse":false},
  {"id":"ffecb760.f959b8","type":"ui_group","z":"","name":"Emulation Ctrls","tab":"43623ced.4c4fd4","order":5,"disp":true,"width":"6","collapse":false},
  {"id":"aa128abd.b4b6b8","type":"ui_group","z":"","name":"Zone Health Score","tab":"43623ced.4c4fd4","order":7,"disp":false,"width":"8","collapse":false},
  {"id":"ed7a018f.b1134","type":"ui_group","z":"","name":"Overall Health","tab":"fa9e425.15caec","order":6,"disp":true,"width":"20","collapse":false},
  {"id":"79a5d918.e87548","type":"ibmiot","z":"","name":"CityOfFontana","keepalive":"60","serverName":"4il9s6.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},
  {"id":"f9cc9925.7c1778","type":"ui_group","z":"","name":"Zone 01","tab":"571fc5d1.e171ac","order":2,"disp":false,"width":"7","collapse":false},
  {"id":"aab3299a.4f6498","type":"ui_group","z":"","name":"Zone 02","tab":"571fc5d1.e171ac","order":3,"disp":false,"width":"7","collapse":false},
  {"id":"ad24d13f.6ecc8","type":"ui_group","z":"","name":"Zone 03","tab":"571fc5d1.e171ac","order":5,"disp":false,"width":"7","collapse":false},
  {"id":"cb46ca99.437a08","type":"ui_group","z":"","name":"Zone 04","tab":"571fc5d1.e171ac","order":7,"disp":false,"width":"7","collapse":false},
  {"id":"285f3c0c.6a79f4","type":"ui_group","z":"","name":"Soil Info","tab":"43623ced.4c4fd4","order":2,"disp":true,"width":"8","collapse":false},
  {"id":"43623ced.4c4fd4","type":"ui_tab","z":"","name":"CoF-Zones","icon":"dashboard","order":2},
  {"id":"fa9e425.15caec","type":"ui_tab","z":"","name":"Main Screen","icon":"dashboard","order":1},
  {"id":"571fc5d1.e171ac","type":"ui_tab","z":"","name":"Soil Moisture State","icon":"dashboard","order":3}]
