CoF-Weather.json
[
  {"id":"caea2d69.6312e","type":"inject","z":"b8a36c7b.948ff","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"1.0","x":70,"y":200,"wires":[["e1ca9a84.e73e38","bfc42f57.cf589"]]},
  {"id":"d5a1595f.85a348","type":"comment","z":"b8a36c7b.948ff","name":"Weather Forecasts","info":"","x":150,"y":40,"wires":[]},
  {"id":"be071fcc.7b808","type":"ui_text","z":"b8a36c7b.948ff","group":"d20396ec.7e75b8","order":1,"width":0,"height":0,"name":"Seville Park","label":"","format":"<font size=16 color='green'>Seville Park</font>","layout":"col-center","x":170,"y":80,"wires":[]},
  {"id":"3900405c.6865","type":"ui_text","z":"b8a36c7b.948ff","group":"d20396ec.7e75b8","order":2,"width":0,"height":0,"name":"Park HS State","label":"","format":"<font size=6.5 color='white'>Weather Forecasts</font>","layout":"col-center","x":340,"y":80,"wires":[]},
  {"id":"42a1331d.0c2d1c","type":"ui_template","z":"b8a36c7b.948ff","group":"638f147a.9ad43c","name":"","order":0,"width":"22","height":"10","format":"<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <tr ng-repeat=\"obj in msg.payload\">\n    <td>{{ obj.dow }}</td>\n    <td>{{ obj.max_temp }}</td>\n    <td>{{ obj.min_temp }}</td>\n    <td>{{ obj.narrative }}</td>\n    <td>{{ obj.night.pop }}</td>\n    <td>{{ obj.night.rh }}</td>\n    <td>{{ obj.night.clds }}</td>\n    <td>{{ obj.day.pop }}</td>\n    <td>{{ obj.day.rh }}</td>\n    <td>{{ obj.day.clds }}</td>>\n  </tr>\n</table>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":640,"y":300,"wires":[[]]},
  {"id":"e1ca9a84.e73e38","type":"template","z":"b8a36c7b.948ff","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    {\"dow\": \"Day\", \"max_temp\": \"MaxT\", \"min_temp\": \"MinT\", \"narrative\": \"Forecast\",\n        \"night\": {\"pop\": \"N-PoP\",\n                \"rh\": \"N-RH\", \"clds\": \"N-Clds\"},\n        \"day\": {\"pop\": \"D-PoP\",\n                \"rh\": \"D-RH\", \"clds\": \"D-Clds\"}\n        \n    },\n    {\"dow\": \"Sunday\",\n            \"max_temp\": 87,\"min_temp\": 60,\n            \"narrative\": \"Partly cloudy. Highs in the upper 80s and lows in the low 60s.\",\n            \"night\": {\n                \"num\": 2,\n                \"temp\": 60,\n                \"hi\": 79,\n                \"wc\": 61,\n                \"pop\": 0,\n                \"rh\": 68,\n                \"wspd\": 11,\n                \"wdir_cardinal\": \"W\",\n                \"clds\": 4,\n                \"narrative\": \"A clear sky. Low near 60F. Winds W at 10 to 15 mph.\"\n            },\n            \"day\": {\n                \"num\": 1,\n                \"temp\": 87,\n                \"hi\": 85,\n                \"wc\": 61,\n                \"pop\": 0,\n                \"rh\": 55,\n                \"wspd\": 12,\n                \"wdir_cardinal\": \"SW\",\n                \"clds\": 18,\n                \"narrative\": \"Some clouds this morning will give way to generally sunny skies for the afternoon. High 87F. Winds SW at 10 to 15 mph.\"\n            }\n        },\n        {\"dow\": \"Monday\",\n            \"max_temp\": 91,\"min_temp\": 61,\n            \"narrative\": \"Mainly sunny. Highs in the low 90s and lows in the low 60s.\",\n            \"night\": {\n                \"num\": 4,\n                \"temp\": 61,\n                \"hi\": 81,\n                \"wc\": 62,\n                \"pop\": 0,\n                \"rh\": 62,\n                \"wspd\": 11,\n                \"wdir_cardinal\": \"W\",\n                \"clds\": 1,\n                \"narrative\": \"Clear skies. Low 61F. Winds W at 10 to 15 mph.\"\n            },\n            \"day\": {\n                \"num\": 3,\n                \"temp\": 91,\n                \"hi\": 89,\n                \"wc\": 62,\n                \"pop\": 0,\n                \"rh\": 44,\n                \"wspd\": 12,\n                \"wdir_cardinal\": \"WSW\",\n                \"clds\": 0,\n                \"narrative\": \"A mainly sunny sky. High 91F. Winds WSW at 10 to 15 mph.\"\n            }\n        },\n        {\"dow\": \"Tuesday\",\n            \"max_temp\": 92,\"min_temp\": 61,\n            \"narrative\": \"Abundant sunshine. Highs in the low 90s and lows in the low 60s.\",\n            \"night\": {\n                \"num\": 6,\n                \"temp\": 61,\n                \"hi\": 83,\n                \"wc\": 62,\n                \"pop\": 0,\n                \"rh\": 54,\n                \"wspd\": 10,\n                \"wdir_cardinal\": \"W\",\n                \"clds\": 0,\n                \"narrative\": \"Clear skies. Low 61F. Winds W at 10 to 15 mph.\"\n            },\n            \"day\": {\n                \"num\": 5,\n                \"temp\": 92,\n                \"hi\": 91,\n                \"wc\": 64,\n                \"pop\": 0,\n                \"rh\": 37,\n                \"wspd\": 12,\n                \"wdir_cardinal\": \"WSW\",\n                \"clds\": 0,\n                \"narrative\": \"Sunny skies. High 92F. Winds WSW at 10 to 15 mph.\"\n            }\n        },\n        {\"dow\": \"Wednesday\",\n            \"max_temp\": 92,\"min_temp\": 60,\n            \"narrative\": \"Plenty of sun. Highs in the low 90s and lows in the low 60s.\",\n            \"night\": {\n                \"num\": 8,\n                \"temp\": 60,\n                \"hi\": 82,\n                \"wc\": 61,\n                \"pop\": 0,\n                \"rh\": 57,\n                \"wspd\": 11,\n                \"wdir_cardinal\": \"W\",\n                \"clds\": 27,\n                \"narrative\": \"Mostly clear skies. Low near 60F. Winds W at 10 to 15 mph.\"\n            },\n            \"day\": {\n                \"num\": 7,\n                \"temp\": 92,\n                \"hi\": 90,\n                \"wc\": 65,\n                \"pop\": 0,\n                \"rh\": 35,\n                \"wspd\": 12,\n                \"wdir_cardinal\": \"WSW\",\n                \"clds\": 18,\n                \"narrative\": \"A few clouds from time to time. High 92F. Winds WSW at 10 to 15 mph.\"\n            }\n        },\n        {\"dow\": \"Thursday\",\n            \"max_temp\": 89,\"min_temp\": 58,\n            \"narrative\": \"Partly cloudy. Highs in the upper 80s and lows in the upper 50s.\",\n            \"night\": {\n                \"num\": 10,\n                \"temp\": 58,\n                \"hi\": 80,\n                \"wc\": 59,\n                \"pop\": 0,\n                \"rh\": 60,\n                \"wspd\": 11,\n                \"wdir_cardinal\": \"WSW\",\n                \"clds\": 1,\n                \"narrative\": \"Clear skies. Low 58F. Winds WSW at 10 to 15 mph.\"\n            },\n            \"day\": {\n                \"num\": 9,\n                \"temp\": 89,\n                \"hi\": 88,\n                \"wc\": 63,\n                \"pop\": 0,\n                \"rh\": 33,\n                \"wspd\": 12,\n                \"wdir_cardinal\": \"SW\",\n                \"clds\": 16,\n                \"narrative\": \"Some clouds in the morning will give way to mainly sunny skies for the afternoon. High 89F. Winds SW at 10 to 15 mph.\"\n            }\n        },\n        {\"dow\": \"Friday\",\n            \"max_temp\": 88,\"min_temp\": 57,\n            \"narrative\": \"Abundant sunshine. Highs in the upper 80s and lows in the upper 50s.\",\n            \"night\": {\n                \"num\": 12,\n                \"temp\": 57,\n                \"hi\": 80,\n                \"wc\": 58,\n                \"pop\": 0,\n                \"rh\": 73,\n                \"wspd\": 12,\n                \"wdir_cardinal\": \"WSW\",\n                \"clds\": 2,\n                \"narrative\": \"Clear skies. Low 57F. Winds WSW at 10 to 15 mph.\"\n            },\n            \"day\": {\n                \"num\": 11,\n                \"temp\": 88,\n                \"hi\": 87,\n                \"wc\": 62,\n                \"pop\": 0,\n                \"rh\": 39,\n                \"wspd\": 12,\n                \"wdir_cardinal\": \"SW\",\n                \"clds\": 0,\n                \"narrative\": \"Mainly sunny. High 88F. Winds SW at 10 to 15 mph.\"\n            }\n        }\n]\n    ","x":200,"y":300,"wires":[["63122ead.5b45d"]]},
  {"id":"63122ead.5b45d","type":"json","z":"b8a36c7b.948ff","name":"","property":"payload","action":"","pretty":false,"x":350,"y":300,"wires":[["6420fbc8.6f1954"]]},
  {"id":"6420fbc8.6f1954","type":"template","z":"b8a36c7b.948ff","name":"css","field":"style","fieldType":"msg","format":"html","syntax":"mustache","template":"table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */","x":490,"y":300,"wires":[["42a1331d.0c2d1c"]]},
  {"id":"263d2167.0c7eae","type":"function","z":"b8a36c7b.948ff","name":"Go to Main Screen","func":"\nmsg.payload = {tab:\"Main Screen\"}; \nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["c01e1a90.698928"]]},
  {"id":"c01e1a90.698928","type":"ui_ui_control","z":"b8a36c7b.948ff","name":"{{msg.payload}}","x":600,"y":140,"wires":[[]]},
  {"id":"e455e74c.414e18","type":"ui_button","z":"b8a36c7b.948ff","name":"Return to Main","group":"d20396ec.7e75b8","order":3,"width":"6","height":"1","passthru":false,"label":"Go to Main Screen","color":"black","bgcolor":"aquamarine","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":140,"wires":[["263d2167.0c7eae"]]},
  {"id":"b59dd75c.f3cc48","type":"comment","z":"b8a36c7b.948ff","name":"Multi-Day Forecasts","info":"","x":370,"y":260,"wires":[]},
  {"id":"e1d3bcca.88027","type":"ui_template","z":"b8a36c7b.948ff","group":"94513c9d.de636","name":"","order":0,"width":"22","height":"10","format":"<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <tr ng-repeat=\"obj in msg.payload\">\n    <td>{{ obj.event_desc }}</td>\n    <td>{{ obj.severity }}</td>\n    <td>{{ obj.urgency }}</td>\n    <td>{{ obj.certainty }}</td>\n    <td>{{ obj.area_id }}</td>\n    <td>{{ obj.area_name }}</td>\n    <td>{{ obj.headline_text }}</td>\n  </tr>\n</table>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":600,"y":420,"wires":[[]]},
  {"id":"7ff9ab0a.06c744","type":"json","z":"b8a36c7b.948ff","name":"","property":"payload","action":"","pretty":false,"x":250,"y":420,"wires":[["195cff11.1408f1"]]},
  {"id":"195cff11.1408f1","type":"template","z":"b8a36c7b.948ff","name":"css","field":"style","fieldType":"msg","format":"html","syntax":"mustache","template":"table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 2;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 40px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */","x":410,"y":420,"wires":[["e1d3bcca.88027"]]},
  {"id":"bfc42f57.cf589","type":"template","z":"b8a36c7b.948ff","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[\n        {\n\t\t\t\"class\": \"Alert-Type\",\n\t\t\t\"event_desc\": \"Event-Desc\",\n\t\t\t\"severity\": \"Severity\",\n\t\t\t\"urgency\": \"Urgency\",\n\t\t\t\"certainty\": \"Certainty\",\n\t\t\t\"area_id\": \"Area-ID\",\n\t\t\t\"area_name\": \"Area-Name\",\n\t\t\t\"headline_text\": \"Headline\"\n\t\t},\n        {\n\t\t\t\"class\": \"bulletin\",\n\t\t\t\"event_desc\": \"Excessive Heat Warning\",\n\t\t\t\"severity\": \"Severe\",\n\t\t\t\"urgency\": \"Expected\",\n\t\t\t\"certainty\": \"Likely\",\n\t\t\t\"area_id\": \"CAZ524\",\n\t\t\t\"area_name\": \"Eastern Mojave Desert, Including the Mojave National Preserve\",\n\t\t\t\"headline_text\": \"Excessive Heat Warning until 8PM PDT SAT\"\n\t\t},\n\t\t{\n\t\t\t\"event_desc\": \"Heat Advisory\",\n\t\t\t\"severity\": \"Moderate\",\n\t\t\t\"urgency\": \"Expected\",\n\t\t\t\"certainty\": \"Likely\",\n\t\t\t\"area_id\": \"CAZ521\",\n\t\t\t\"area_name\": \"White Mountains of Inyo County\",\n\t\t\t\"headline_text\": \"Heat Advisory until 8PM PDT SAT\"\n\t\t},\n\t\t{\n            \"event_desc\": \"Excessive Heat Warning\",\n            \"severity\": \"Severe\",\n            \"urgency\": \"Expected\",\n            \"certainty\": \"Likely\",\n            \"area_id\": \"CAZ525\",\n            \"area_name\": \"Morongo Basin\",\n            \"headline_text\": \"Excessive Heat Warning until 8PM PDT SAT\"\n        },\n        {\n            \"event_desc\": \"Heat Advisory\",\n            \"severity\": \"Moderate\",\n            \"urgency\": \"Expected\",\n            \"certainty\": \"Likely\",\n            \"area_id\": \"CAZ064\",\n            \"area_name\": \"Clear Lake/Southern Lake County\",\n            \"headline_text\": \"Heat Advisory until 8PM PDT SUN\"\n        },\n\t\t{\n\t\t\t\"class\": \"bulletin\",\n\t\t\t\"event_desc\": \"Heat Advisory\",\n\t\t\t\"severity\": \"Moderate\",\n\t\t\t\"urgency\": \"Expected\",\n\t\t\t\"certainty\": \"Likely\",\n\t\t\t\"area_id\": \"CAZ518\",\n\t\t\t\"area_name\": \"Mountains Of San Benito County And Interior Monterey County Including Pinnacles National Monument\",\n\t\t\t\"headline_text\": \"Heat Advisory until 8PM PDT SAT\"\n\t\t},\n\t\t{\n\t\t\t\"class\": \"bulletin\",\n\t\t\t\"event_desc\": \"Heat Advisory\",\n\t\t\t\"severity\": \"Moderate\",\n\t\t\t\"urgency\": \"Expected\",\n\t\t\t\"certainty\": \"Likely\",\n\t\t\t\"area_id\": \"CAZ517\",\n\t\t\t\"area_name\": \"Santa Lucia Mountains and Los Padres National Forest\",\n\t\t\t\"headline_text\": \"Heat Advisory until 8PM PDT SAT\"\n\t\t}\n]","output":"str","x":100,"y":420,"wires":[["7ff9ab0a.06c744"]]},
  {"id":"e31990d6.4dcb7","type":"comment","z":"b8a36c7b.948ff","name":"Weather Advisories","info":"","x":230,"y":380,"wires":[]},
  {"id":"d20396ec.7e75b8","type":"ui_group","z":"","name":"Weather-Hdr","tab":"90f7cfa3.eb7c7","order":1,"disp":false,"width":"22","collapse":false},
  {"id":"638f147a.9ad43c","type":"ui_group","z":"","name":"5 Day Forecast","tab":"90f7cfa3.eb7c7","order":2,"disp":true,"width":"24","collapse":false},
  {"id":"94513c9d.de636","type":"ui_group","z":"","name":"Weather Advisories","tab":"90f7cfa3.eb7c7","order":3,"disp":true,"width":"26","collapse":false},
  {"id":"90f7cfa3.eb7c7","type":"ui_tab","z":"","name":"Weather Forecasts","icon":"dashboard","order":5}
]
